<style>
  .home-main {
    overflow-x: hidden;
    margin-left: 69px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media (max-width: 750px) {
    .home-main {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
</style>
<div class="home-main">
  <%- include('../components/videos.ejs',{query:""}) %>
</div>